<div class="mat-elevation-z8">
  <table mat-table [dataSource]="userList">
    <ng-container matColumnDef="first_name">
      <th mat-header-cell *matHeaderCellDef> First name</th>
      <td mat-cell class="cursor-pointer" *matCellDef="let element" (click)="userSelected(element)"> {{element.first_name}} </td>
    </ng-container>
    <ng-container matColumnDef="last_name">
      <th mat-header-cell *matHeaderCellDef> Last name</th>
      <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email</th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div *ngIf="userList.length === 0" class="no-records">
    No Records Found!
  </div>
  <mat-paginator [pageIndex]="currentPage" [pageSize]="perPage" [length]="totalUsers" (page)="pageChanged($event)"></mat-paginator>
</div>
